<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>My Nice Page</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker-bs4.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">

  <style>
    .my-footer {
      height: 5em;
      background-color: #163b65;
      margin-top: 1.5em;
      padding: 1em;
      color: white;
      font-size: 80%;
    }

    .notie-container {
      box-shadow: none;
    }

    .datepicker {
      z-index: 10000;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rooms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="generals.html">General's Quarters</a>
          <a class="dropdown-item" href="majors.html">Major's Suite</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reservation.html">Book Now</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>

    </ul>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="mt-3">Search for Availability</h1>

      <form action="reservation.html" method="post" novalidate class="needs-validation">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div class="row">
          <div class="col">
            <div class="row" id="reservation-dates">
              <div class="col-md-6">
                <input required class="form-control" type="text" name="start" placeholder="Arrival">
              </div>
              <div class="col-md-6">
                <input required class="form-control" type="text" name="end" placeholder="Departure">
              </div>
            </div>
          </div>
        </div>

        <hr>

        <button type="submit" class="btn btn-primary">Search Availability</button>

      </form>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col">
      <p id="myParagraph">This is some text.</p>
      <p>
        <button id="colorButton" class="btn btn-outline-secondary">Click me</button>
      </p>
    </div>
  </div>

</div>


<footer class="my-footer">
  <div class="row">
    <div class="col">
      left
    </div>

    <div class="col">
      center
    </div>

    <div class="col">
      right
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker-full.min.js"></script>
<script src="https://unpkg.com/notie"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>

<script>
  let attention = Prompt();

  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      let forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  document.getElementById("colorButton").addEventListener("click", function () {
    let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        `;
    attention.custom({
      title: 'Choose your dates',
      msg: html,
    });
  })

  const elem = document.getElementById('reservation-dates');
  const rangePicker = new DateRangePicker(elem, {
    format: "yyyy-mm-dd",
  });

  function notify(msg, msgType) {
    notie.alert({
      type: msgType,
      text: msg,
    })
  }

  function notifyModal(title, text, icon, confirmationButtonText) {
    Swal.fire({
      title: title,
      html: text,
      icon: icon,
      confirmButtonText: confirmationButtonText
    })
  }

  function Prompt() {
    let toast = function (c) {
      const{
        msg = '',
        icon = 'success',
        position = 'top-end',

      } = c;

      const Toast = Swal.mixin({
        toast: true,
        title: msg,
        position: position,
        icon: icon,
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

      Toast.fire({})
    }

    let success = function (c) {
      const {
        msg = "",
        title = "",
        footer = "",
      } = c

      Swal.fire({
        icon: 'success',
        title: title,
        text: msg,
        footer: footer,
      })

    }

    let error = function (c) {
      const {
        msg = "",
        title = "",
        footer = "",
      } = c

      Swal.fire({
        icon: 'error',
        title: title,
        text: msg,
        footer: footer,
      })

    }

    async function custom(c) {
      const {
        msg = "",
        title = "",
      } = c;

      const { value: formValues } = await Swal.fire({
        title: title,
        html: msg,
        backdrop: false,
        focusConfirm: false,
        showCancelButton: true,
        willOpen: () => {
          const elem = document.getElementById("reservation-dates-modal");
          const rp = new DateRangePicker(elem, {
            format: 'yyyy-mm-dd',
            showOnFocus: true,
          })
        },
        didOpen: () => {
          document.getElementById("start").removeAttribute("disabled");
          document.getElementById("end").removeAttribute("disabled");
        },
        preConfirm: () => {
          return [
            document.getElementById('start').value,
            document.getElementById('end').value
          ]
        }
      })

      if (formValues) {
        Swal.fire(JSON.stringify(formValues))
      }
    }

    return {
      toast: toast,
      success: success,
      error: error,
      custom: custom,
    }
  }

</script>

</body>

</html>