{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page</h1>
                <p>This is some textee</p>
                <img src="/static/images/house.jpg" alt="">
            </div>
        </div>
    </div>
{{end}}